<div class="bottom-12 w-full fixed text-center -z-1 opacity-80">
    <div class="flex justify-center items-center gap-2">
        <a href="https://steamcommunity.com/id/korjezilla/" target="_blank" class="text-cosmic-gray hover:text-cosmic-red transition-colors ease-in-out duration-200">
            Art by @korjezilla
        </a>
        <img src="/heart.png" width="20" />
    </div>
</div>